{:deps {;; Duct
        duct/core {:mvn/version "0.8.0"}
        duct/logger {:mvn/version "0.3.0"}

        ;; Cambium
        cambium/cambium.codec-cheshire {:mvn/version "1.0.0"}
        cambium/cambium.core {:mvn/version "1.1.1"}
        cambium/cambium.logback.json {:mvn/version "0.4.6"}}
 :paths ["src"]}
